$def with ()

<div class="intro bold">
    <p>
        <center><h1 class="title themed bold">Welcome to bitboard.</h1></center>
        <br/>
        Bitboard is a decentralized anonymous imageboard. It is built on top of
        <a class="underlined" target="_blank" href="https://bitmessage.org/wiki/Decentralized_Mailing_List">Bitmessage's decentralized mailing lists.</a>
        <br/><br/>
        To get started, you must
        <a class="underlined" target="_blank" href="https://bitmessage.org/wiki/Main_Page">download</a>
        and setup Bitmessage then
        <a class="underlined" target="_blank" href="https://bitmessage.org/wiki/API_Reference#Enable_the_API">enable API access.</a>
        Bitmessage must be running in order for Bitboard to work.
        <br/><br/>
        If you've set it up correctly, you should see some links below to join new channels, if not,
        you'll likely see an unfriendly error message. Lists of popular channels can be found
        <a class="underlined" target="_blank" href="https://duckduckgo.com/?q=bitmessage+chans">on the web.</a>
    </p>
</div>
